*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,h2 {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

p,h3 {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}

.clearfix{
  clear: both;
}

a {
  text-decoration: none;
  color: white;
}

.icons a {
  margin-right: 5px;
}

/* nav */

nav{
  background-color: black;
  color: white;
  width: 100%;
  /* height: 100px; */
  padding: 10px;
  transition: .5s;
  position: fixed;
  z-index: 100;
}

nav.hide{
  transform: translateY(-100%);
}

.nav2.hide{
  transform: translateY(-456px);
  /* display: none; */
}

nav img{
  width: 120px;
  float: left;
}

#mainMenu {
  list-style: none;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  float: right;
  display: none;
  position: relative;
}

#mainMenu li{
  display: inline;
  padding: 0 10px;
}

#mainMenu li a{
  text-decoration: none;
  color: white;
}

#mainMenu li a:hover{
  
  color: pink;
}


#moveLine {
  position: absolute;
  width: 113px;
  height: 5px;
  top: 0;
  background-color: pink;
  left: 982px;
  transition: all .5s ease;
  display: none;
}


nav .icons {
  float: right;
  display: none;
  
}

nav .icons a{
  font-size: 20px;
  margin-right: 5px;
}

nav .icons a:hover{
color:pink ;
  }

.hamburgers {
  float: right;
  position: relative;
}

 #hamburger1{ 
  font-size:24px;
  cursor: pointer;
 }

 #hamburger2{
   position: absolute;
   font-size:24px;
   cursor: pointer;
   top: 0;
   z-index: 5;
 }

.nav2 {
  background-color: black;
  position:fixed;
  z-index: 5;
  width: 100%;
  /* height: 400px; */
  height: 0;
  color: white;
  /* padding: 10px; */
  transition: all .5s ease;
  overflow: hidden;
  top:50px
}

#hideMenu {
  width: 90%;
  margin: 0 auto;
  list-style: none;
 
}

#hideMenu li{
  font-family: 'Oswald', sans-serif;
  border-bottom: 2px solid white;
  padding: 15px 0;
  font-size: 18px;
}

#hideMenu li:hover{
  border-bottom: 2px solid pink;
  color: pink;
}

/* section 1 */
#section-1 {
  width: 100%;
  background-color: black;
  padding: 100px 0;
  
} 

#section-1 form{
  margin:0 auto ;
  padding: 30px;
  width: 80%;
  border: 5px solid white;
  color: white;
}

#section-1 input,#section-1 textarea{
  display: block;
  width: 100%;
  margin: 5px auto 10px;
}

#section-1 input{
  height: 30px;
}

#section-1 textarea{
  height: 200px;
  margin-bottom: 20px;
}



#section-1 h2{
  text-align: center;
  margin-bottom: 30px;
}

#section-1 .icons{
  float: left;
}

#section-1 .icons a{
  transition: all .5s ease;
}

#section-1 .icons a:hover{
  color: black;
}

#section-1 button{
  float: right;
  color: black;
  padding: 5px 10px;
  background-color:white ;
  border: none;
  cursor: pointer;
  transition: all .5s ease;
}

#section-1 button:hover {
   background-color: black;
}

#section-1 .attention{
  color: white;
  padding-top: 10px;
}

#section-1 .attention p{
  width: 80%;
  margin:0 auto;
  line-height: 20px;
}

#section-1 .attention h2{
  padding-bottom:20px;
  margin: 0;
}

#section-1 .attention img{
  width: 80%;
  margin: 30px auto 0;
}

/* section 2 */



#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  color: rgba(156, 150, 150, 0.7);
  cursor: pointer;
}

/* footer */

footer{
 width: 100%;
 height: 150px;
 background-color: #333333;
 color: white;
 text-align: center;
 padding-top: 50px;
}

footer p{
  font-size: 10px;
  letter-spacing: 3px;
}

footer .icons{
  margin-top: 20px;
}

footer .icons a {
  font-size: 20px;
  margin: 0 10px;
}

@media(min-width:600px){

/* nav */

  nav img{
    width: 150px;
    
  }

  nav  > p{
    font-size: 30px;

  }

/* section 1 */

#section-1{
  display:flex;
  flex-direction: row-reverse;
}

.form,.attention{
  flex: 1;
}
  

/* footer */

footer {
  padding-top: 100px;
  height: 200px;
}

footer p {
  font-size: 14px;
  letter-spacing: 3px;
}

}

@media(min-width:1000px){

/* nav */

  nav img{
    width: 150px;
   
  }
  
  #mainMenu {
   
    display:block;
  }
  
  #mainMenu li{
    display: inline-block;
   
  }
  
  nav .icons {
    display: block;
    margin:0 50px 0 100px;
  }

  nav .icons a{
    margin-right: 10px;

  }
  
  .hamburgers{ 
    display: none;
  }

  #moveLine{
    display: block;
  }

  

}